<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新页面</title>
    <script src="assets/js/index.js"></script>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="assets/stylesheets/index.css">
    <link rel="stylesheet" href="assets/stylesheets/sprite/sprite.css">
</head>
<body>
    直接引入components的index
	<%-include("layout/header.ejs")%>
    <p><a href="users">Hello Michael Ray2</a></p>
    <div class="icon-add"></div>
</body>
</html>