<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新页面</title>
	<script src="assets/js/page1.js"></script>
	<link rel="stylesheet" href="assets/stylesheets/main.css">
	<link rel="stylesheet" href="assets/stylesheets/sprite/sprite.css">
</head>
<body>
	USER
</body>
</html>