<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新页面</title>
    <script src="assets/js/cp.min.js"></script>
    <link rel="stylesheet" href="assets/stylesheets/css.css?123">
</head>
<body>
    <p>Hello Michael</p>
    <div class="xx"></div>
</body>
</html>